alphacollection.de, www.alphacollection.de {
    handle /api/* {
        reverse_proxy backend:80
    }

    handle /storage/* {
        reverse_proxy backend:80
    }

    handle /sanctum/* {
        reverse_proxy backend:80
    }

    handle {
        reverse_proxy frontend:80
    }
}
